<div class="container">
  <div class="login-form">
    <div *ngIf="loading">
      <app-loader></app-loader>
    </div>
    <form [formGroup]="signpForm" (ngSubmit)="submitSignup()"  *ngIf="!loading">
      <h2 class="text-center">Sign Up</h2>
      <div class="alert alert-danger fade in alert-dismissible show" *ngIf="error!=''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true" style="font-size:20px">×</span>
        </button>
        <strong>Error!</strong> {{error}}
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Full Name" required="required"  formControlName="name"
               [ngClass]="{ 'is-invalid': formSubmitted && f.name.errors }">
        <span class="invalid-feedback" *ngIf="f.name.errors && formSubmitted">
          Error in Name field
        </span>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" required="required" formControlName="email"
               [ngClass]="{ 'is-invalid': formSubmitted && f.email.errors }">
        <span class="invalid-feedback" *ngIf="f.email.errors && formSubmitted">
          Error in Email field
        </span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="required" formControlName="password"
               [ngClass]="{ 'is-invalid': formSubmitted && f.password.errors }">
        <span class="invalid-feedback" *ngIf="f.password.errors && formSubmitted">
          Error in Password field
        </span>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      </div>
    </form>
    <p class="text-center"><a (click)="redirectToLogin()" class="text-primary">Already have an Account?</a></p>
  </div>
</div>
